.tareas {
    background-color: aquamarine;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.tareas.reminder {
    border-left: 5px solid rgb(237, 58, 42);
}

.tareas h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
    